Repository Automattic/abacus, pull requests merged in 2022-01, with the labels that each got.

#619 Add collapsible alerts for metrics
  src/components/experiments/wizard/ExperimentForm.test.tsx
  src/components/experiments/wizard/Metrics.tsx
  src/components/experiments/wizard/__snapshots__/ExperimentForm.test.tsx.snap
  src/components/experiments/wizard/__snapshots__/Metrics.test.tsx.snap
  src/components/general/CollapsibleAlert.test.tsx
  src/components/general/CollapsibleAlert.tsx
  src/components/general/__snapshots__/CollapsibleAlert.test.tsx.snap
Labels: [type] enhancement, [section] experiment management

#633 Add wccom as platform
  src/lib/experiments.ts
  src/lib/schemas.ts
Labels: [section] experiment management

#622 Metrics AG Grid: Add a ChevronToggleButton component for use in AG Grid master/detail component
  src/components/general/ChevronToggleButton.test.tsx
  src/components/general/ChevronToggleButton.tsx
Labels: [type] enhancement
