Repository Automattic/abacus, pull requests merged in 2023-01, with the labels that each got.

#796 Metrics: add individual routes for metric details
  src/Routes.tsx
  src/components/explat/experiments/single-view/ExperimentPageView.tsx
  src/components/explat/experiments/wizard/ExperimentForm.tsx
  src/components/explat/metrics/MetricDetails.test.tsx
  src/components/explat/metrics/MetricDetails.tsx
  src/components/explat/metrics/multi-view/MetricsTable.stories.tsx
  src/components/explat/metrics/multi-view/MetricsTable.test.tsx
  src/components/explat/metrics/multi-view/MetricsTable.tsx
  src/components/explat/metrics/single-view/MetricPageView.test.tsx
  src/components/explat/metrics/single-view/MetricPageView.tsx
  src/components/general/PageTitleWithSlug.tsx
  src/lib/explat/metrics.ts
  src/pages/explat/Metric.tsx
  src/pages/explat/Metrics.tsx
Labels: [section] metric directory, [section] metric overview

#827 Fix cash sales metric value formatting
  src/components/explat/experiments/single-view/results/MetricAssignmentResults.tsx
  src/components/explat/experiments/single-view/results/__snapshots__/ExperimentResults.test.tsx.snap
Labels: [section] experiment results

#822 Add metric details links to experiment wizard
  src/components/explat/experiments/wizard/Metrics.tsx
  src/components/explat/experiments/wizard/__snapshots__/ExperimentForm.test.tsx.snap
  src/components/explat/experiments/wizard/__snapshots__/Metrics.test.tsx.snap
  src/components/general/ClipboardButton.tsx
Labels: [section] application, [section] experiment management

#829 Experiment overview and results: add metric details links to metric assignments
  src/components/explat/experiments/single-view/overview/MetricAssignmentsPanel.test.tsx
  src/components/explat/experiments/single-view/overview/MetricAssignmentsPanel.tsx
  src/components/explat/experiments/single-view/overview/__snapshots__/ExperimentDetails.test.tsx.snap
  src/components/explat/experiments/single-view/results/ExperimentResults.tsx
  src/components/explat/experiments/single-view/results/__snapshots__/ExperimentResults.test.tsx.snap
Labels: [section] experiment overview, [section] experiment results, [!team] explat, [!milestone] current

#826 Wizard: improve UX by opening metrics details in a modal
  src/components/explat/experiments/wizard/Metrics.test.tsx
  src/components/explat/experiments/wizard/Metrics.tsx
  src/components/explat/experiments/wizard/__snapshots__/ExperimentForm.test.tsx.snap
  src/components/explat/experiments/wizard/__snapshots__/Metrics.test.tsx.snap
  src/components/explat/metrics/MetricDetails.tsx
  src/components/explat/metrics/single-view/MetricDetailsModal.tsx
Labels: [type] enhancement, [section] experiment management, [section] metric overview, [!team] explat, [!milestone] current

#836 Add MLX issue templates
  .github/ISSUE_TEMPLATE/new-issue-template.md
  .github/ISSUE_TEMPLATE/parent-issue-template.md
  .github/ISSUE_TEMPLATE/regular-issue-template.md
Labels: [!priority] high, [type] documentation, [!team] explat
