Repository Automattic/abacus, pull requests merged in 2023-05, with the labels that each got.

#856 Remove storybook
  .eslintrc.js
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  README.md
  jest.config.js
  package-lock.json
  package.json
  src/components/explat/experiments/ExperimentStatus.stories.tsx
  src/components/explat/experiments/single-view/results/CredibleIntervalVisualization.stories.tsx
  src/components/explat/experiments/single-view/results/ExperimentResults.stories.tsx
  src/components/explat/experiments/wizard/BasicInfo.stories.tsx
  src/components/explat/experiments/wizard/Beginning.stories.tsx
  src/components/explat/experiments/wizard/ExperimentForm.stories.tsx
  src/components/explat/metrics/multi-view/MetricsTable.stories.tsx
  src/components/general/LabelValueTable.stories.tsx
  src/components/page-parts/Layout.stories.tsx
Labels: [!priority] medium, [type] bug, [!team] explat, [!milestone] current

#861 Stabilise datetimes in tests
  src/components/explat/experiments/single-view/results/ExperimentResults.test.tsx
  src/components/explat/experiments/single-view/results/MetricAssignmentResults.test.tsx
  src/components/explat/experiments/single-view/results/__snapshots__/ExperimentResults.test.tsx.snap
  src/lib/explat/analyses.ts
  src/test-helpers/fixtures.ts
Labels: [type] bug, [section] application, [!team] explat, [!milestone] current

#863 Experiment results: sticky A/B/n controls
  src/components/explat/experiments/single-view/results/ExperimentResults.tsx
Labels: [type] enhancement, [section] experiment results, [!team] explat, [!milestone] current

#865 Update analysisDatetime < startDatetime check
  src/lib/explat/analyses.ts
Labels: [!priority] blocker, [type] bug, [section] experiment results, [!team] explat

#870 Metric assignment form: filter out debug metrics
  src/components/explat/experiments/MetricAssignmentForm.test.tsx
  src/components/general/MetricAutocomplete.test.tsx
  src/components/general/MetricAutocomplete.tsx
  src/test-helpers/test-utils.tsx
Labels: [section] roles and permissions, [section] experiment overview, [section] metric management

#864 Metrics: add toggle to show/hide archived and debug metrics
  src/pages/explat/Metrics.test.tsx
  src/pages/explat/Metrics.tsx
Labels: [type] enhancement, [section] metric directory

#866 Update analysisDatetime < startDatetime check - part 2
  src/lib/explat/analyses.test.ts
  src/lib/explat/analyses.ts
Labels: [section] experiment results, [!team] explat

#872 Metrics directory: allow hiding debug metrics in debug mode
  src/pages/explat/Metrics.tsx
Labels: [!priority] low, [section] metric directory

#873 Make experiment p2 url optional
  src/api/explat/ExperimentsApi.ts
  src/components/explat/experiments/single-view/ExperimentRunButton.test.tsx
  src/components/explat/experiments/single-view/ExperimentRunButton.tsx
  src/components/explat/experiments/single-view/__snapshots__/ExperimentRunButton.test.tsx.snap
  src/components/explat/experiments/single-view/overview/GeneralPanel.tsx
  src/components/explat/experiments/wizard/Beginning.test.tsx
  src/components/explat/experiments/wizard/Beginning.tsx
  src/components/explat/experiments/wizard/ExperimentForm.test.tsx
  src/components/explat/experiments/wizard/__snapshots__/ExperimentForm.test.tsx.snap
  src/lib/explat/schemas.test.ts
  src/lib/explat/schemas.ts
Labels: [section] experiment management

#874 Experiment overview: allow p2 url editing in any status
  src/components/explat/experiments/single-view/overview/GeneralPanel.test.tsx
  src/components/explat/experiments/single-view/overview/GeneralPanel.tsx
Labels: [section] experiment management
